[data-controller="issues"][data-action="show"],
[data-controller="opinions"][data-action="show"]
  @media screen and (max-width: $tablet)
    [data-component="issue"]
      border: 0px
      box-shadow: none
      border-radius: 0px
      height: auto
      width: auto
      max-width: 400px
      margin:
        left: 0
        right: 0
        bottom: $space*1.25

      header
        border-radius: 3px
        height: 60px
        width: 80px
        display: inline-block
        vertical-align: top
        margin-left: $space/2
        float: right

      main
        display: block
        padding: 0

        p
          margin-bottom: $space/3

      aside
        display: none

      h1, h2, p
        text-align: left

      h1
        +heading_rg
        margin-bottom: 5px

        +gt($phablet)
          +heading_md

      footer
        text-align: left
        display: block

      .cta
        display: inline-block
        margin: 0
          right: $space
