button Ignore me on Mixpanel

javascript:
  k$.$('button').addEventListener('click', function() {
    mixpanel.register({"$ignore":true});
    k$.status({
      text: "Ignored!",
      type: "status-green"
    });
  });
