[data-block="issues"]
  // Only do this when it's in a flock of issues ^
  .issue_column
    +row

  .issue_card_container
    +column('third')

  +b("opinion_previews")
    display: none

    blockquote
      +p
      margin-bottom: $space/2

    +gt($tablet)
      display: block
      +column('twothirds')

    +gt($tablet-landscape)
      .row
        +row

      +c("opinion_preview")
        +column('half')
