$cardHeight: 400px
$circleHeight: 60px

[data-component="issue"]
  border-radius: 10px
  border: 1px solid desaturate(lighten(map-get($blue, slate), 50%), 20%)
  overflow: hidden
  height: $cardHeight
  box-shadow: 0px 0px 5px lighten(map-get($blue, slate), 55%)
  width: 100%
  margin-bottom: $space*2
  position: relative
  width: 275px
  max-width: 100%
  margin: 
    left: auto
    right: auto

  header
    width: 100%
    height: $cardHeight/2 - 50px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    position: relative

    aside
      border-radius: 50%
      height: $circleHeight
      width: $circleHeight
      position: absolute
      bottom: -$circleHeight/2
      left: 50%
      margin-left: -$circleHeight/2
      border: 3px solid white
      // background: map-get($blue, slate)
      background: map-get($colors, blue)

      svg
        width: 40px
        height: 40px
        margin: 7px
        fill: white

  main
    padding: $space/2
      top: $space*2

  h1, h2, p
    text-align: center

  h1
    +heading_sm

    a
      color: $default-font-color

  p
    color: lighten($default-font-color, 30%)

  footer
    display: flex
    align-items: center
    justify-content: center

  .cta
    color: saturate(lighten(map-get($colors, blue), 10%), 30%)
    cursor: pointer
    margin: 0px $space

    &:hover
      text-decoration: underline
