$cardHeight: 400px
$circleHeight: 60px

[data-component="issue"]
  border-radius: 10px
  border: 1px solid desaturate(lighten(map-get($blue, slate), 50%), 20%)
  overflow: hidden
  height: $cardHeight
  box-shadow: 0px 0px 5px lighten(map-get($blue, slate), 55%)
  width: 100%
  margin-bottom: $space
  position: relative

  header
    width: 100%
    height: $cardHeight/2 - 50px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    position: relative

    aside
      border-radius: 50%
      height: $circleHeight
      width: $circleHeight
      position: absolute
      bottom: -$circleHeight/2
      left: 50%
      margin-left: -$circleHeight/2
      border: 3px solid white
      // background: map-get($blue, slate)
      background: map-get($colors, blue)

  main
    padding: $space
      top: $space*2

  h1, h2, p
    text-align: center

  h1
    +heading_sm

    a
      color: $default-font-color

  footer
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: $space*2
    display: flex
    align-items: center
    justify-content: center

  .cta
    +button-color(white)
    color: map-get($colors, blue)

    &:hover
      background: map-get($white, dark)

  +gt($phone)
    max-width: 275px
    margin: 
      left: auto
      right: auto
