[data-component="main_footer"]
  display: flex
  justify-content: space-between
  margin:
    top: 100px

  img, p
    display: inline-block
    vertical-align: middle

  img + p,
  p + img
    margin-left: 10px

  img
    height: 35px

  p
    text-align: center
    font-size: 0.85rem
    margin-bottom: 0

  a.sponsor
    color: map-get($gray, lighter)
