[data-component="main header"]
  +navbar($collapse: true, $background-color: white)
  padding: $space/3 0
  margin-bottom: $space

  +gt($tablet)
    margin-bottom: $space*2

  nav > ul > li > a:not([role=button]).logo
    margin:
      left: -30px

    img
      width: 100px
      margin-top: 4px

  h1
    +heading_xs

  form
    +gt($tablet)
      text-align: right

    input[type="submit"]
      +button-color(transparent)
      padding:
        left: 0
        right: 0

  a:not([role=button]).unread
    background: map-get($colors, red)
    border-radius: 5px
    opacty: 1
