[data-component="main header"]
  +navbar($collapse: true)
  padding: $space/3 0
  background: $primary-color
  margin-bottom: $space

  +gt($tablet)
    padding: $space*2 0
    margin-bottom: $space*2

  h1
    +heading_xs
    color: white

    a
      color: white


  form
    +gt($tablet)
      text-align: right

    input[type="submit"]
      +button-color(transparent)
      padding:
        left: 0
        right: 0

      color: white

  nav > ul > li ul[role=button], 
  nav > ul > li > [role=button], 
  nav > ul > li.navbar-title button[role="button"]
    color: white
