[data-component="opinion_preview"]
  display: flex

  img
    border-radius: 50%
    width: 25px
    height: 25px
    margin-right: 5px

  h1
    text-align: left
    +heading_xxs

    span, img
      vertical-align: middle
      display: inline-block
      margin-right: 5px

  .verdict
    +label
    background: transparent
    border-width: 0
    border-radius: 0
    border-right-width: 3px
    margin-bottom: 0

    &.yes
      color: map-get($colors, green)
      border-color: map-get($colors, green)

    &.no
      color: map-get($colors, red)
      border-color: map-get($colors, red)

  p
    margin-bottom: $space/5

  footer
    margin-bottom: $space

    p
      font-size: 0.85rem

  +gt($phablet)
    // padding-left: $space

  ul
    +list($style: 'unstyled', $layout: 'horizontal')

    li
      margin-right: $space

    a
      +heading_xxs

  +c("voter")
    width: auto
    margin-right: $space

    h1
      margin: 0
        top: 5px
      line-height: normal
      text-align: center
