[data-component="opinion column"]
  +column('half')

  > h1
    +heading_xxs
    padding: $space/3 0
    text-align: center
    background: map-get($colors, red)
    color: white

  &:first-child
    > h1
      background: map-get($white, dark)
      color: map-get($colors, red)
