[data-component="red sheet"]
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: map-get($colors, red)
  color: white
  text-align: center
  opacity: 0
  pointer-events: none
  transition: opacity 0.25s

  input[type="submit"]
    +button-color(darken(map-get($colors, red), 5%))

  .hideUntilVoted,
  .hideAfterVoted
    display: none

  &.show
    pointer-events: auto
    opacity: 1

  .close
    background: transparent
    border: 0px
    color: white
    font-size: 5rem
    position: absolute
    top: $space
    right: $space
    font-weight: 100

    &:hover
      box-shadow: none
      border: 0
      color: map-get($colors, yellow)
