.wrapper
  +wrapper

[data-render]
  .loader
    height: 150px
    display: block
    margin: 0px auto

[data-logged-in="true"]
  .hide-logged-in
    display: none !important

[data-logged-in="false"]
  .hide-logged-out
    display: none !important

.show-mobile
  +gt($tablet)
    display: none !important

.hide-mobile
  @media screen and (max-width: $tablet)
    display: none !important

// STICKY FOOTER

+gt($tablet)
  $footerHeight: 100px

  *
    margin: 0

  html, body
    height: 100%

  .sf-wrapper
    min-height: 100%
    margin: 0 auto (-$footerHeight - 80px)
    padding-top: 90px

  .sf-footer, .sf-push
    height: $footerHeight

