.wrapper
  +wrapper

[data-render]
  .loader
    height: 150px
    display: block
    margin: 0px auto

[data-logged-in="true"]
  .hide-logged-in
    display: none !important

[data-logged-in="false"]
  .hide-logged-out
    display: none !important
